[submodule "src/3rdparty/edam"]
	path = src/3rdparty/edam
	url = git://github.com/evernote/evernote-sdk-cpp.git
[submodule "src/3rdparty/thrift"]
	path = src/3rdparty/thrift
	url = git://github.com/apache/thrift.git
