div.resource {
    margin: 2px;
    display: inline-block;
    border: 1px solid gray;
}

img.resource {
    width: 96px;
    height: 96px;
    padding: 2px;
}

a.resource {
    left: 100px;
    margin: 2px;
    vertical-align: middle;
}
